body {width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding: 0;
    
    font-size: 14px;
    line-height: 20px;
    font-family: "Georgia", serif;
    color: #ffffff;
     background: #ec6868 url("img/1644824088_33cffcc3.jpg") no-repeat 50% 0;
     background-size: cover;
  }

  
  
  
  h1 {
    width: 260px;
    font-family: "Georgia", serif;
    font-size: 36px;
    line-height: 36px;
  }
  
  h2 {
    padding-bottom: 12px;
    font-family: "Georgia", serif;
    border-bottom: 1px solid #ec3333;
  }
  
  .site-header {
    margin-bottom: 30px;
  }
  
  .skills-item {
    font-family: "Georgia", serif;
    margin-bottom: 15px;
    padding-left: 20px;
    border-left: 10px solid #ffc5b3;
    color: #ffc5b3;
  }
  
  .standard {
    border-color: #ffc5b3;
    font-family: "Georgia", serif;
    color: #ffc5b3;
  }
  
  .feature-kitten {
    padding-top: 60px;
    background: url("img/free-icon-heart-177043.png") no-repeat ;
  }
  
  .feature-cat {
    padding-top: 60px;
    background: url("img/free-icon-heart-177043.png") no-repeat ;
  }
  
  .feature-train {
    padding-top: 60px;
    background-image: url("img/whistle.svg");
  }
  
  .container {
    width: 480px;
    margin: 0 auto;
  }
  
  .site-header img {
    display: block;
    margin: 0 auto;
  }
  
  .features {
    margin-bottom: 30px;
  }
  
  
  
  
  
  .skills-list {
    padding: 0;
    list-style: none;
  }
  
  